
$sizings: ("extra-small": 24px, "small": 32px, "normal": 40px, "large": 48px, "extra-large": 56px);

.avatar {
  overflow: hidden;
  @each $label, $size in $sizings {
    &.#{$label} {
      & > img {
        height: $size;
        width: $size;
      }
      & > span {
        background: lightseagreen;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: $size;
        width: $size;
      }
    }
  }
  & > img {
    max-height:100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}